:root{
  --bg:oklab(18.281% 0.03454 0.02707 / 0.911);
  --panel:rgba(255, 255, 255, 0.05);
  --stroke:rgba(255,255,255,.12);
  --txt:#ffffff;
  --shadow:0 10px 40px rgba(0,0,0,0.45);
}

body{
  margin:0;
  font-family: ui-sans-serif, system-ui, "Segoe UI", sans-serif;
  background: var(--bg);
  color:var(--txt);
  line-height:1.6;
  overflow-x:hidden;
}

.section{padding:auto; margin-bottom:80px; }
.container{max-width:1100px; margin:0 auto}

.section-title2{
  text-align:center; 
  font-size:32px; 
  margin-bottom:50px;
}

/* Cards */
.grid.cards{
  display:grid; 
  grid-template-columns:repeat(3, 1fr); 
  gap:20px;
}
@media (max-width:980px){
  .grid.cards{grid-template-columns:repeat(2,1fr)}
}
@media (max-width:620px){
  .grid.cards{grid-template-columns:1fr}
}

.card{
  background:var(--panel);
  border:1px solid var(--stroke);
  border-radius:16px;
  overflow:hidden;
  box-shadow:var(--shadow);
  transition:.25s;
}
.card:hover{transform:translateY(-4px)}

.card-media img{
  width:100%; height:180px; object-fit:cover;
}
.card-body{padding:14px}
.card-text{color:#ffffff}

/* ปุ่มกลับ */
.center-btn {
  justify-content: left;
  margin-top: 30px;
}

.return-btn {
  background: none;       
  border: none;           
  color: #ffffff;        
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  padding: 0;             
  transition: .25s;
}

.return-btn:hover {
  color: #ffffff;         
  transform: scale(1.07); 
}
